################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/AlgoMain/AlgoConsoleMenu/obj/Debug
/CSharp/AlgoMain/AlgoMain/bin/Debug
/CSharp/AlgoMain/AlgoMain/obj/Debug
/CSharp/AlgoMain/AlgoConsoleMenu/bin/Debug
/CSharp/AlgoMain/DataStructures/bin/Debug
/CSharp/AlgoMain/DataStructures/obj/Debug
Java/.recommenders/
*.dll
CSharp/AlgoOptionsService/AlgoOptionsService/obj/
CSharp/AlgoOptionsService/packages/
CSharp/AlgoOptionsService/AlgoOptionsService/bin/AlgoOptionsService.dll.config
CSharp/AlgoOptionsService/AlgoOptionsService/bin/
CSharp/AlgoOptionsService/OptionContollerUnitTest/bin/
CSharp/AlgoOptionsService/OptionContollerUnitTest/obj/
