################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/AlgoMain/AlgoConsoleMenu/obj/Debug
